body {
	color: #2B3E42;
	background-color: #747E80;
	margin: 0px;
	padding: 0px;
	font: normal 14px "Lucida Grande", arial, tahoma, sans-serif;
}

img {
	border: 0px;
}

a { color: #F2583E; text-decoration: none;}
a:hover { text-decoration: underline; }

h1 {
    margin-bottom: 0px;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}

/* header
----------------------------------------------- */
#header {
	width: 940px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px;
	overflow: auto;
}

#header h2 {
	font-size: 20px;
	margin-top: 5px;
    margin-bottom: 0px;
    color: #7a7a7a;
	overflow: auto;
	text-align: left;
}

#header #upload form .help {
	margin-bottom: 10px;
}

#header #upload {
	float: right;
	margin-right: 15px;

}

#header #upload .fields {
	padding: 15px;

}

#header #upload input {
	font-size: 16px;
	padding: 5px;
	margin: 3px;
	width: 225px;
}

#header #upload .image_upload {
	font-size: 16px;
	margin-top: 8px;
	overflow: hidden;
	width: 500px;
}

#header #upload .image_upload span {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

#header #upload .image_upload input.toilet {
	float: left;
	width: 100px;
	font-size: 12px;
}

#header #upload #submit {
	margin-top: 10px;
	float: left;
}

#header #upload .overlay {
	color: silver;
}

#header .logo {
	float: left;
	margin-top: 15px;
    width: 325px;
    text-align: center;
}

#header .user_login a {
	color: #fff;
}

#header .user_login a:hover {
	cursor: pointer;
}

#header .user_login img {
	margin-right: 10px;
	border: 1px solid #fff;
}


/* menu
----------------------------------------------- */

#menu {
	border-top: 8px solid #F2583E;
	width: 940px;
	margin: 0 auto;
	background-color: #77BED2;
	padding: 10px;
	overflow: auto;
}

#menu .navigation {
	float: left;
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
}

#menu .navigation a {
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 10px;
	margin: 0px;
}

#menu .navigation a.active {
	background-color: #F2583E;
}

#menu .navigation a.active:hover {
	background-color: #F2583E;
}

#menu .navigation a:hover {
	background-color: #F2583E;
}

#menu .sharing {
	float: right;
	color: #fff;
    height: 15px;
    margin-top: -3px;	
}

#menu #login {
    float: right;
    margin-top: -3px;
    vertical-align: top;

    color: #FFF;
    font-weight: bold;
}

#menu #login a { 
    font-size: 10px;
    color: #FFF;
}

#menu #login .picture { 
    border: 1px solid #FFF;
    height: 19px;
    margin-right: 5px;
}

#menu #fb_logout { 
    cursor: pointer;
}

/* content
----------------------------------------------- */

#content {

	border-bottom: 8px solid #F2583E;
    border-top: 8px solid #D5E1DD;
	width: 940px;
	margin: 0 auto;
	background-color: #F7F3E8;
	padding: 10px;
	overflow: auto;
}

#content .quote {
	margin: 0 auto;
	text-align: center;
}

#content .gallery table {
	margin: 0 auto;
}

#content .gallery td {
	text-align: center;
	padding-bottom: 10px;
	padding: 5px;
	width: 120px;
}


#content .gallery td .thumbnail {
	position: relative;
}

#content .gallery td .votes {
    padding: 3px;
	color: #FFF;
	width: auto;
	font-size: 10px;
	font-weight: bold;
	
	position: absolute;
	bottom: 0;
	right: 0;git
	border: 1px solid white;
}

#content .gallery td .title {
	font-weight: bold;
	text-align: center;
}

#content .gallery td .name {
	font-size: 10px;
}


#content .gallery td .green {
	background-color: #869802;
}

#content .gallery td .red {
	background-color: #b70e01;
}


#content .loadmore {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100px;
}

#content #view_window {
	display: none;
}


/* footer
----------------------------------------------- */
#footer {
	clear: both;
	color: #FFF;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-top: 30px;
	font-size: 12px;
	width: 940px;
	margin: 0 auto;
}

#ads {
	float: right;
}


/* style boxes
----------------------------------------------- */
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
	padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../public/images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../public/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../public/images/warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../public/images/error.png');
}